<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   
 
    <title>Document</title>
</head>
<body>
        <div id ="root">
                <form action="", class = "container_center", method="POST">
                        
                        <div id ="choice_wrapper">
                            
                            <label for="">First name</label>
                            <input name="First name" placeholder="First name" type="text">
                            <br>
                            <br>
                            <label for="">Last name</label>
                            <input name="Last name" placeholder="Last name" type="text">
                            <br>
                            <br>
                            <label for="">Email</label>
                            <input name="Email" placeholder="Email" type="text">
                            <input name="Yob" placeholder="Yob" type="text">
                            <input name="Gender" placeholder="Gender" type="text">
                            <input name="City" placeholder="City" type="text">
                        </div>
                        <button id="btn_register">Register</button>    
 

    </form>
</body>
</html>